:root {
  font-size: calc(1em + 2vmin + 3vmax);
}

:any-link {
  text-decoration: wavy underline;
}

:focus {
  outline-color: currentColor;
  outline-style: outset;
  outline-width: thick;
}

body {
  margin: auto;

}

figure {
  margin: auto;
  padding-block-end: 3rem;
}

samp {
  align-items: center;
  border-radius: 0 3%;
  display: flex;
  flex-flow: column;
  font-size: 2em;
  font-weight: bold;
  justify-content: center;
  min-height: 100vh;
}

figcaption {
  font-family: sans-serif;
  line-height: 1.6;
  max-width: 11em;
  margin: auto;
  padding: 5vmin;
  padding-bottom: 5rem;
}

b {
  text-shadow:
    -.1ex .1ex 0,
    -.2ex .2ex 0,
    .3ex -.3ex 0;
}

strong:last-of-type {
  display: block;
  text-indent: 12em;
  transform: rotate(-72deg);
}

strong {
  text-shadow:
    -.1ex .1ex 0,
    -.2ex .2ex 0,
    .3ex -.3ex 0,
    .3ex .5ex 0,
    .8ex .8ex 0;
}

strong::before {
  content: "--";
}

strong::after {
  content: "++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++∞";
}

::selection {
  background: rebeccapurple;
  color: powderblue;
}
